
* {
  box-sizing: border-box;
}

/* =========================
   APP ROOT
========================= */
.app-container {
  position: fixed;
  inset: 0;
  z-index: 200;

  display: grid;
  grid-template-columns: minmax(0, 1fr) 400px;
  grid-template-rows: 1fr;
  height: 100vh;
  pointer-events: none;

  padding: 90px 40px 40px 40px;

  background:
    radial-gradient(circle at center, transparent 40%, rgba(0,0,0,0.4)),
    radial-gradient(circle at 30% 40%, rgba(100,16,41,0.4), transparent 60%),
    repeating-linear-gradient(45deg, rgba(100,16,41,0.2) 1px, transparent 1px),
    linear-gradient(#101014, #141418);
}

.left-panel {
  position: relative;
  min-width: 0;
  min-height: 0;
  overflow: hidden;
}

/* =========================
  (3D VIEWPORT)
========================= */
.canvas-container {
  position: relative;

    grid-column: 1;
  grid-row: 1;

  width: 100%;
  height: 100%;

 



  background-color: #0e0e1d;
  border: 3px solid rgba(0, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    repeating-linear-gradient(
      to right,
      rgba(0,255,255,0.12) 0px,
      rgba(0,255,255,0.12) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(0,255,255,0.12) 0px,
      rgba(0,255,255,0.12) 1px,
      transparent 1px,
      transparent 40px
    );

  mask-image: linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,0)
  );

  pointer-events: none;
}








/* =========================
   RIGHT UI PANEL
========================= */
.right-ui {
    position: relative;
  z-index: 10;

  width: 100%;
  height: 100%;
  min-height: 0; 



  gap: 20px;
  padding: 20px;
  background-color: #00ff2200;
}

/* =========================
   ICON TABS
========================= */
.icon-tabs {
  width: 100%;
  max-width: 50px;

  grid-column: 1;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  gap: 12px;
  pointer-events: auto;
}

.icon-tabs button {
  width: 100%;
  aspect-ratio: 1 / 1;

  min-height: 44px;

  background: rgba(0,255,255,0.1);
  border: 1px solid rgba(0,255,255,0.3);

  transition: 0.2s ease;
  cursor: pointer;
  pointer-events: auto;
}

.icon-tabs button:hover {
  background: rgba(0,255,255,0.35);
}

.tab-btn.active {
  background: rgba(0,255,255,0.5);
  box-shadow: 0 0 10px rgba(0,255,255,0.6);
  transform: scale(1.05);
}

/* =========================
   TEXT BLOCKS
========================= */
.text-block {
  grid-column: 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  gap: 20px;

  min-height: 0; 

  

  background-color: rgba(14, 194, 194, 0)
}

.model-title {
  grid-column: 2;
  grid-row: 1;
  padding: 0px 0px 30px 0px;
  
  color: aliceblue;
  font-size: clamp(12px, 1.5vw, 23px);
  white-space: pre-line;


}

.model-description {
  color: aliceblue;
    grid-column: 2;
  grid-row: 2;


  font-size: clamp(13px, 0.9vw, 16px);
  line-height: 1.4;
  white-space: pre-line;

  margin-left: 0px;
}

.link-block {
  width: 100%;

  grid-column: 1;
  grid-row: 3;

  display: flex;
  flex-direction: column;
  align-self: start;

  gap: 10px;
  pointer-events: none;

  background-color: rgba(0, 255, 255, 0)
  
}
.software-title {
  padding: 30px;
  grid-column: 2;
  grid-row: 3;

  color: rgb(0, 196, 196);
  font-size: clamp(12px, 1vw, 20px);
  

  
}
.links {
  padding: 100px 0px 0px 35px;
  grid-column: 2;
  grid-row: 4;

  color: rgb(16, 150, 155);
  font-size: clamp(12px, 1vw, 20px);
  text-decoration: underline;
 pointer-events: auto;
  
 
  

  
}
.links a {

 pointer-events: auto;
  
 
  

  
}



/* SOFTWARE ICONS */
.software-block {
  grid-column: 1 / -1;
  grid-row: 4;

 width: 100%;
 
  display: flex;
  flex-direction: column;
  gap: 12px;

  
  overflow: hidden;
 
  padding: 20px;
  pointer-events: none;

  background: linear-gradient(
    to bottom,
    rgba(0,255,255,0.01),
    rgba(0,255,255,0.14),
    rgba(0,255,255,0.1),
    rgba(0, 255, 255, 0.06),
    rgba(0, 255, 255, 0.03),
    rgba(0, 255, 255, 0.01),
    rgba(0,255,255,0),
    rgba(0,255,255,0),
    rgba(0,255,255,0),
    rgba(0,255,255,0)
  );
  
}

.software-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 8px;

  
}

.software-inline img {
  width: clamp(20px, 2vw, 40px);
  height: auto;
}

/* =========================
   UI MODEL PANEL
========================= */
.ui-models {
  
  display: grid; 
  grid-template-columns: 60px 1fr;
  grid-template-rows: auto auto auto 1fr;

  width: 100%;
  height: 100%;
  min-height: 0; 

  min-width: 0;

  pointer-events: none;

  background-color: rgba(250, 235, 215, 0);
}

.ui-models > * {
  pointer-events: none;
  min-height: 0;
  
}

/* =========================
   ASSETS VIEW
========================= */
.assets-canvas {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  pointer-events: auto;
  overflow: hidden;

  background-color: rgb(4, 32, 32);
  border: 2px solid rgba(0,255,255,0.3);
}
.assets-overlay {
  position: relative;
  width: 100%;
  height: 100%;

  pointer-events: none;
  z-index: 1;
}

.Assets-title-parent {
  flex-shrink: 0;

  display: flex;
  justify-content: center;

  padding: 0px;

  background: linear-gradient(
    to bottom,
    rgba(0,255,255,0.15),
    rgba(0,255,255,0)
  );

}
.Assets-title {
  margin-top: 1%;
  color: rgb(45, 219, 205);
  font-size: clamp(12px, 2vw, 26px);


}
.assets-buttons {

  display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  justify-content: center;
  gap: 30px;
  
  padding: 10px;
}



.assets-view {
  flex: 1;              
  min-height: 0;        
  overflow-y: auto;     

  display: flex;
  flex-direction: column;
  gap: 30px;

  padding: 0px 160px 0px 160px;
  
}

.assets-view img {
  width: 100%;
  min-height: 400px; 
  object-fit: contain;

  flex-shrink: 0;
  
}
.assets-buttons button {
  font-size: clamp(12px, 1vw, 15px);
  color: aliceblue;

  

  background: rgba(2, 48, 48, 0.6);
  border: 1px solid rgba(0, 255, 255, 0.2);

  padding: 8px 30px;
  cursor: pointer;

  transition: all 0.2s ease;
}
.assets-buttons button:hover {
  background: rgba(0, 255, 255, 0.15);
  border-color: rgba(0, 255, 255, 0.6);
  transform: translateY(-1px);
}
.assets-buttons button.active {
  background: rgba(0, 255, 255, 0.575);
  border-color: #00ff22;

  color: #101014;

  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);

  transform: translateY(-2px);
}




/* =========================
   UV + MATERIAL SYSTEM
========================= */
.Textures-title-parent {
  position: absolute;
  top: -35px;       
       

  width: auto;
  height: auto;
    pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(0,255,255,0),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0)
  );

}
.Textures-title {
  margin-top: 3%;
  color: rgb(45, 219, 205);
  font-size: clamp(12px, 2vw, 26px);


}

.bottom-textures-parent {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 0;
  
  background-color: rgba(220, 245, 223, 0);
 
}
.bottom-textures {
  flex: 1;           /* 🔥 ocupa todo */
  min-height: 0;     /* 🔥 CLAVE */

  display: flex;
  align-items: flex-end;

  padding: 20px;
   background-color: rgba(245, 245, 220, 0);
  
}

.uv-sets-grid {
  pointer-events: auto;

  display: flex;
  flex-direction: row;
  gap: 20px;

  max-width: 100%;
  height: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  padding: 20px;
  background: rgba(2, 43, 43, 0.89);
  border: 0px solid rgba(0, 255, 255, 0.671);


}
.uv-overlay {
  position: fixed;
  bottom: 0;
  right: 0;

  width: 100%;
  height: 30vh;

  display: flex;
  justify-content: flex-end; 
  pointer-events: none;
}

.uv-set-column {
  display: flex;
  flex-direction: column;

  min-width: 200px;
 

  overflow: hidden;

        background: rgba(4, 112, 112, 0.432);
  border: 1px solid rgba(0,255,255,0.3);
  pointer-events: auto;
}
.uv-maps-column {
  width: 100%;
  display: flex;
  flex-direction: row;
  pointer-events: auto;

  gap: 6px;
}



.uv-maps-column img {
  width: clamp(120px, 12vw, 180px);
  height: auto;
  object-fit: contain;

  border: 2px solid transparent;
  padding: 3px;

  cursor: pointer;
  transition: all 0.2s ease;
  pointer-events: auto;
}

.uv-maps-column img:hover {
  transform: scale(1.01);
  border-color: rgba(0, 255, 255, 0.5);
}

.uv-maps-column img.active {
  border-color: #00ffb3;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
  transform: scale(1.01);
}
.material-column img {
  width: clamp(120px, 12vw, 180px);
  height: auto;
  object-fit: contain;
  border: 5px solid rgba(0, 255, 255, 0);
  padding: 10px;
  
}

/* =========================
   BUTTONS
========================= */
button {
  font-size: clamp(12px, 1vw, 14px);
  color: aliceblue;
    background: rgba(2, 48, 48, 0.767);
  border: 10px solid rgba(0, 255, 255, 0);
}

/* =========================
   LOADER
========================= */
.global-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(10,10,20,0.85);
  backdrop-filter: blur(6px);

  color: white;
}

.spinner {
  width: 30px;
  height: 30px;

  border: 3px solid rgba(255,255,255,0.2);
  border-top: 3px solid white;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

















@keyframes spin {
  to { transform: rotate(360deg); }
}




























@media (max-width: 768px) {

  /* =========================
     APP ROOT
  ========================= */
.app-container {
  display: flex;
  flex-direction: column;

  height: 100dvh;
  overflow: hidden;

  padding: 60px 10px 10px 10px;
}
  /* =========================
     3D VIEWPORT
  ========================= */
  .canvas-container {
  width: 100%;
  height: 45vh;

  flex-shrink: 0;
}

  /* =========================
     RIGHT UI → ABAJO
  ========================= */
.right-ui {
  width: 100%;

  height: 55vh;   /* 🔥 fijo estable en móvil */

  padding: 10px;

  display: flex;
  flex-direction: column;

 
}
.software-block{
  opacity: 0;
}

  /* =========================
     UI MODELS GRID
  ========================= */
.ui-models {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 0;
}

  /* =========================
     ICON TABS → HORIZONTAL
  ========================= */
  .icon-tabs {
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
    gap: 8px;
  }

  .icon-tabs button {
    min-height: 40px;
  }

  /* =========================
     TEXT CONTENT
  ========================= */
  .model-title {
    font-size: 15px;
    
  }

  .model-description {
    font-size: 13px;
  }

  .software-title {
    opacity: 0;
    padding: 0px 100px;
    font-size: 14px;
  }

  .links {
    padding: 0px 100px ;
    font-size: 13px;
  }

  /* =========================
     ASSETS VIEW
  ========================= */
.assets-canvas {
  display: flex;
  flex-direction: column;

  height: 100%;
  min-height: 0;
  gap: 10px;

  
}

.assets-view {
  flex: 1;
  height: 100%;

  overflow-y: auto;

  display: flex;
  flex-direction: column;

  gap: 5px;

  padding: 20px 20px 20px 20px;
}

  .assets-view img {
    min-height: auto;
    display: flex;
  }

 .assets-buttons {
  justify-content: flex-start;
  overflow-x: auto;
  gap: 5px;
}

  .assets-buttons button {
    padding: 6px 10px;
  }

  /* =========================
     SOFTWARE ICONS
  ========================= */
  .software-inline img {
    opacity: 0;
    width: 28px;
  }

  /* =========================
     UV / TEXTURES → SCROLL HORIZONTAL
  ========================= */
.uv-overlay {
  position: relative;   /* 🔥 quitamos fixed */
  bottom: auto;
  right: auto;

  width: 100%;
  height: auto;

  order: 2; /* 🔥 lo colocamos después del canvas */

  display: block;
  margin: 10px 0;
}

/* contenedor interno */
.bottom-textures-parent {
  height: auto;
}

/* quitamos comportamiento de "pegado abajo" */
.bottom-textures {
  align-items: flex-start;
  padding: 0;
}

/* scroll horizontal limpio */
.uv-sets-grid {
  display: flex;
  flex-direction: row;

  overflow-x: auto;
  overflow-y: hidden;

  gap: 10px;
  padding: 10px;

  border-radius: 8px;
}

/* columnas más compactas */
.uv-set-column {
  min-width: 120px;
}

/* imágenes más pequeñas */
.uv-maps-column img {
  width: 90px;
}

}