
* {
  box-sizing: border-box;
}

/* =========================
   APP ROOT
========================= */
.app-container {
  position: fixed;
  inset: 0;
  z-index: 200;

  display: grid;
  grid-template-columns: 1fr 260px;
  grid-template-rows: 1fr;
  height: 100vh;
  pointer-events: none;

  background:
    radial-gradient(circle at center, transparent 40%, rgba(0,0,0,0.4)),
    radial-gradient(circle at 30% 40%, rgba(100,16,41,0.4), transparent 60%),
    repeating-linear-gradient(45deg, rgba(100,16,41,0.2) 1px, transparent 1px),
    linear-gradient(#101014, #141418);
}

/* =========================
  (3D VIEWPORT)
========================= */
.canvas-container {
  position: relative;

  width: 100%;
  height: 100%;

  top: 3%;
  right: 7%;

  max-width: 1350px;
  max-height: 85vh;

  margin: auto;

  background-color: #0e0e1d;
  border: 3px solid rgba(0, 255, 255, 0.15);

  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container::before {
  content: "";
  position: absolute;
  inset: 0;

  background:
    repeating-linear-gradient(
      to right,
      rgba(0,255,255,0.12) 0px,
      rgba(0,255,255,0.12) 1px,
      transparent 1px,
      transparent 40px
    ),
    repeating-linear-gradient(
      to bottom,
      rgba(0,255,255,0.12) 0px,
      rgba(0,255,255,0.12) 1px,
      transparent 1px,
      transparent 40px
    );

  mask-image: linear-gradient(
    rgba(0,0,0,0),
    rgba(0,0,0,1),
    rgba(0,0,0,1),
    rgba(0,0,0,0)
  );

  pointer-events: none;
}








/* =========================
   RIGHT UI PANEL
========================= */
.right-ui {
  position: absolute;

  top: 24%;
  right: 22%;

   width: 100px;
  height: auto;

  background-color: rgba(0, 255, 255, 0);

  display: flex;
  flex-direction: column;
  

  padding: 25px;
  gap: 20px;
}

/* =========================
   ICON TABS
========================= */
.icon-tabs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.icon-tabs button {
  width: 100%;
  aspect-ratio: 1 / 1;

  min-height: 44px;

  background: rgba(0,255,255,0.1);
  border: 1px solid rgba(0,255,255,0.3);

  transition: 0.2s ease;
  cursor: pointer;
}

.icon-tabs button:hover {
  background: rgba(0,255,255,0.35);
}

.tab-btn.active {
  background: rgba(0,255,255,0.5);
  box-shadow: 0 0 10px rgba(0,255,255,0.6);
  transform: scale(1.05);
}

/* =========================
   TEXT BLOCKS
========================= */
.text-block {
  position: absolute;

  top: 70px;
  right: 40px;

  width: min(460px, 35vw);

  display: flex;
  flex-direction: column;
  gap: 90px;

  padding: 20px;

  background-color: rgba(0, 255, 255, 0)
}

.model-title {
  
  color: aliceblue;
  font-size: clamp(16px, 1.5vw, 25px);
  white-space: pre-line;


}

.model-description {
  color: aliceblue;
  font-size: clamp(12px, 1vw, 17px);
  white-space: pre-line;

  margin-left: 50px;
}

.link-block {
  position: fixed;
  top: 55%;
  right: 2%;

  width: min(450px, 30vw);

  display: flex;
  flex-direction: row;
  gap: 130px;

  padding: 20px;

  background-color: rgba(0, 255, 255, 0)
}

.links a {
  color: rgb(16, 150, 155);
  text-decoration: underline;
}

/* SOFTWARE ICONS */
.software-block {
  position: fixed;
  top: 60%;
  right: 4%;

  width: min(400px, 30vw);

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 20px;

  background: linear-gradient(
    to bottom,
    rgba(0,255,255,0),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0)
  );
}
.software-title {
  color: rgb(255, 255, 255);
  font-size: clamp(12px, 1vw, 20px);
  

  
}
.software-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  padding: 8px;

  
}

.software-inline img {
  width: clamp(20px, 2vw, 40px);
  height: auto;
}

/* =========================
   UI MODEL PANEL
========================= */
.ui-models {
  position: absolute;
  inset: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  pointer-events: none;

  background-color: rgba(250, 235, 215, 0);
}

.ui-models > * {
  pointer-events: auto;
}

/* =========================
   ASSETS VIEW
========================= */
.assets-canvas{
  position: fixed;
  top: 10%;
  left: 4%;

  width: min(90vw, 1340px);
  height: 85vh;

  background-color: rgb(4, 32, 32);
  border: 2px solid rgba(0,255,255,0.3);

  display: flex;
  flex-direction: column;

  overflow: hidden;
 
}

.Assets-title-parent {
  position: fixed;
     display: flex;
  
  justify-content: center;
  width: 20%;
  height: 6%;
  top: 25%;
  right: 2%;
  background: linear-gradient(
    to bottom,
    rgba(0,255,255,0),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0)
  );

}
.Assets-title {
  margin-top: 3%;
  color: rgb(45, 219, 205);
  font-size: clamp(12px, 2vw, 26px);


}


.assets-view {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
   
  gap: 30px; 

  overflow-y: auto;
  overflow-x: hidden;

  padding: 35px;
  margin-top: 1%;

  min-height: 0; 
  
}

.assets-view img {
  width: 100%;
  min-height: 400px; 
  object-fit: contain;

  flex-shrink: 0;
  
}
.assets-buttons button {
  font-size: clamp(12px, 1vw, 15px);
  color: aliceblue;

  background: rgba(2, 48, 48, 0.6);
  border: 1px solid rgba(0, 255, 255, 0.2);

  padding: 8px 30px;
  cursor: pointer;

  transition: all 0.2s ease;
}
.assets-buttons button:hover {
  background: rgba(0, 255, 255, 0.15);
  border-color: rgba(0, 255, 255, 0.6);
  transform: translateY(-1px);
}
.assets-buttons button.active {
  background: rgba(0, 255, 255, 0.575);
  border-color: #00ff22;

  color: #101014;

  box-shadow: 0 0 12px rgba(0, 255, 255, 0.5);

  transform: translateY(-2px);
}
.assets-buttons {
  position: fixed;
  display: flex;
    flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-bottom: 10px;
  padding: 10px;
}



/* =========================
   UV + MATERIAL SYSTEM
========================= */
.Textures-title-parent {
  position: fixed;
     display: flex;
  
  justify-content: center;
  width: 23%;
  height: 6%;
  top: 18%;
  right: 2%;
  background: linear-gradient(
    to bottom,
    rgba(0,255,255,0),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0.15),
    rgba(0,255,255,0)
  );

}
.Textures-title {
  margin-top: 3%;
  color: rgb(45, 219, 205);
  font-size: clamp(12px, 2vw, 26px);


}

.bottom-textures-parent {
  position: fixed;
   display: flex;
  
  justify-content: flex-end;
  flex-direction: column;

  height: 100%; /* 🔥 clave */
  width: 100%;
  
  background-color: rgba(220, 245, 223, 0);
  pointer-events: none;
}
.bottom-textures {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  
  height: 33%;
  padding: 40px;

  overflow: hidden;
   background-color: rgba(245, 245, 220, 0);
   pointer-events: none;
}

.uv-sets-grid {
  display: flex;
  flex-direction: row;

  gap: 20px;

  overflow-x: auto;
  overflow-y: hidden;

  max-width: 100%;
  height: 100%;
          background: rgba(2, 43, 43, 0.89);
  border: 0px solid rgba(0, 255, 255, 0.671);
  pointer-events: none;

}
.uv-set-column {
  display: flex;
  flex-direction: column;

  min-width: 200px;
        background: rgba(4, 112, 112, 0.432);
  border: 1px solid rgba(0,255,255,0.3);
  pointer-events: auto;
}
.uv-maps-column {
  display: flex;
  flex-direction: row;
  pointer-events: auto;

  gap: 6px;
}



.uv-maps-column img {
  width: clamp(120px, 12vw, 180px);
  height: auto;
  object-fit: contain;

  border: 2px solid transparent;
  padding: 3px;

  cursor: pointer;
  transition: all 0.2s ease;
  pointer-events: auto;
}

.uv-maps-column img:hover {
  transform: scale(1.01);
  border-color: rgba(0, 255, 255, 0.5);
}

.uv-maps-column img.active {
  border-color: #00ffb3;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.8);
  transform: scale(1.01);
}
.material-column img {
  width: clamp(120px, 12vw, 180px);
  height: auto;
  object-fit: contain;
  border: 5px solid rgba(0, 255, 255, 0);
  padding: 10px;
  
}

/* =========================
   BUTTONS
========================= */
button {
  font-size: clamp(12px, 1vw, 14px);
  color: aliceblue;
    background: rgba(2, 48, 48, 0.767);
  border: 10px solid rgba(0, 255, 255, 0);
}

/* =========================
   LOADER
========================= */
.global-loader {
  position: fixed;
  inset: 0;
  z-index: 9999;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: rgba(10,10,20,0.85);
  backdrop-filter: blur(6px);

  color: white;
}

.spinner {
  width: 30px;
  height: 30px;

  border: 3px solid rgba(255,255,255,0.2);
  border-top: 3px solid white;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* =========================
   RESPONSIVE MOBILE
========================= */
@media (max-width: 768px) {

    .canvas-container {
    width: 80%;
    height: 80%;
    top: 50%;
    left: 10%;

    border: none;
  }

  .app-container {
    grid-template-columns: 1fr;
    grid-template-rows: 55% 45%;
  }

   .right-ui {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;

    width: 100%;
    height: 50px;

    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 15px;
    padding: 10px;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
  }

  .icon-tabs {
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .icon-tabs button {
    width: 50px;
    height: 30px;
  }

   .bottom-textures {
    
   display: flex;
  justify-content: center; /* 🔥 centra todo */
  align-items: flex-end;

  width: 100%;
  height: 40%;

  padding: 10px;
  gap: 10px; /* separación entre sets */
  }
  .uv-sets-grid {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 50%;
  margin-bottom: 50px;
 
  gap: 1px;
  pointer-events: none;
}

.uv-set-column {
  flex: 1; /* 🔥 reparte en 3 automáticamente */

  display: flex;
  flex-direction: row;
  justify-content: start;
   overflow-y: auto;
  
  height: 80%;


}
.uv-set-column button {
  flex: 1; /* 🔥 reparte en 3 automáticamente */

  display: flex;
  overflow-y: auto;
 pointer-events: none;


}

.uv-maps-column {
  display: flex;
  overflow-y: auto;
  
 
}

.uv-maps-column img {
  max-width: 100%;
  min-width: 10%;
  height: 100%;
  overflow-y: auto;
  
  
          
   

 
}
  .Assets-title-parent,
  .Textures-title-parent {
    display: none;
  }
  .text-block {
    position: absolute;
    top: 70px;
    left: 10px;
    right: 10px;
    align-items: center;

    width: auto;
    gap: 20px;

    padding: 10px;
  }

  .model-description {
    margin-left: 0;
  }

  .link-block{
  position: relative; 
  
  top: auto;
  left: auto;

  display: flex;
   
  
  flex-direction: column; 
  gap: 20px; 
  }
  .software-block {

  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  height: auto;

  margin-top: 20px; 
   
  }
  .software-title{
  position: fixed;
  bottom: 29%;

  }
    .links{
  position: fixed;
  bottom: 29%;
  right: 5%;
  font-size: 12px;

  }
    .software-inline {
     

  
    display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 10px;
  }
    .assets-canvas {
    position: fixed;
    top: 29%;
    left: 0;

    width: 100%;
    height: 38%;
  }

  .assets-buttons {
    position: fixed;
    top: 73%;
    gap: 10px;
    justify-content: center;
  }

  .assets-view {
    padding: 10px;
    gap: 15px;
  }

  .assets-view img {
    min-height: auto;
    height: auto;
  }
}


@media (max-width: 1200px) {

  .text-block {
    width: 40vw;
    width: min(200px, 35vw);
  }
  .model-title {
  
  color: aliceblue;
  font-size: clamp(15px, 1.5vw, 25px);
  white-space: pre-line;


}

.model-description {
  color: aliceblue;
  font-size: clamp(12px, 1vw, 17px);
  white-space: pre-line;

  margin-left: 50px;
}

  .model-description {
    font-size: 13px;
  }

  .right-ui {
    right: 10px;
  }

}